<script><!--
function Sim_Sim_Otkroysya()
{
var obj=document.getElementById('Sim_Sim');
if(obj.style.display=='none')
obj.style.display='block';
else
obj.style.display='none';
}
function Sim_Sim_Otkroysya1()
{
var obj=document.getElementById('Sim_Sim1');
if(obj.style.display=='none')
obj.style.display='block';
else
obj.style.display='none';
}
function Sim_Sim_Otkroysya2()
{
var obj=document.getElementById('Sim_Sim2');
if(obj.style.display=='none')
obj.style.display='block';
else
obj.style.display='none';
}
function Sim_Sim_Otkroysya3()
{
var obj=document.getElementById('Sim_Sim3');
if(obj.style.display=='none')
obj.style.display='block';
else
obj.style.display='none';
}

function chg(id,chk){
var el = document.getElementById(id);
var ch = document.getElementById(chk);
if (el.src.indexOf("down.gif")>0){
el.src="up.gif"
ch.checked="true";
}else{
el.src="down.gif"
ch.checked="";
}
}
--></script>

<div>
<img width=100%, style="margin-right: 40%" src="https://ddaudio.com.ua/theme/img/header.jpg">
</div>
<div class="topitem">
    <ul class="nigger"> 
        <li><a class="jews"href="#">Все для аквапечати</a>
        <li><a class="jews"href="#">Автолампы </a>
    </ul>
</div> 



<h3 style="margin-left: 10%;text-align: center;">Тюнинг и автоаксессуары в интернет-магазине Digital Designs</h3>









<div style="display: flex;">


<div class="left_menu">
    <div style="background-color:bisque">
    <div><a href='javascript: Sim_Sim_Otkroysya()'>
<div style="color:azure;background-color: #101010;font-size: 40px; white-space: nowrap;"  onClick="chg(this.id,'check')">Категории тюнинга</div></a></div>
<div name=Sim_Sim id=Sim_Sim style='text-indent:12pt;display:none'>
<ul class="nigger">
<li><a class="jews"href="#">Все для аквапечати</a>
<li><a class="jews"href="#">Автолампы </a>
<li><a class="jews"href="#">Автохимия</a>
<li><a class="jews" href="#">Аксессуары для авто</a>
<li><a class="jews"href="#">Брызговики</a>
<li><a class="jews"href="#">Дефлекторы</a>
<li><a class="jews"href="#">Дуги на крышу</a>
<li><a class="jews"href="#">Запчасти кузова</a>
<li><a class="jews"href="#">Коврики</a>
<li><a class="jews"href="#">Колпаки</a>
<li><a class="jews"href="#">Листовой пластик</a>
<li><a class="jews"href="#">Обвесы</a>
<li><a class="jews"href="#">Оптика</a>
<li><a class="jews"href="#">Offroad аксессуары</a>
<li><a class="jews"href="#">Чехлы</a>
<li><a class="jews"href="#">Шильдики</a>
<li><a class="jews"href="#">Электроника</a>
<li><a class="jews"href="#">Отопление в автомобиле</a>
<li><a class="jews"href="#">Защита днища</a>
<li><a class="jews"href="#">Наклейки</a>
<li><a class="jews"href="#">Литые диски</a>

</ul>
</div>
<div><a href='javascript: Sim_Sim_Otkroysya1()'>
<div style="color:azure;background-color: #101010;font-size: 30px;white-space: nowrap;" onClick="chg(this.id,'check')">Тип Автомобиля</div></a></div>
<div name=Sim_Sim1 id=Sim_Sim1 style='text-indent:12pt;display:none'>
<ul class="nigger">
<li><a class="jews" href="#">Внедорожник</a>
<li><a class="jews"href="#">Пикап</a>
<li><a class="jews"href="#">Микроавтобус</a>
<li><a class="jews" href="#">Коммерческий автомобиль</a>
<li><a class="jews"href="#">Каблук</a>
<li><a class="jews"href="#">Минивэн</a>
<li><a class="jews"href="#">Легковой автомобиль</a>
<li><a class="jews"href="#">Седан</a>
<li><a class="jews"href="#">Хэтчбэк</a>
<li><a class="jews"href="#">Купе</a>
<li><a class="jews"href="#">Универсал</a>
<li><a class="jews"href="#">Грузовик</a>
</ul>
</div>
<div><a href='javascript: Sim_Sim_Otkroysya2()'>
<div style="color:azure;background-color: #101010;font-size: 30px;white-space: nowrap;" onClick="chg(this.id,'check')">Каталог</div></a></div>
<div name=Sim_Sim2 id=Sim_Sim2 style='text-indent:12pt;display:none'>
<ul class="nigger">
<li><a class="jews" href="#">Тюнинг Acura</a>
<li><a class="jews" href="#">Тюнинг Alfa-Romeo</a>
<li><a class="jews" href="#">Тюнинг Audi</a>
<li><a class="jews" href="#">Тюнинг BMW</a>
<li><a class="jews"href="#">Тюнинг Brilliance</a>
<li><a class="jews"href="#">Тюнинг Buick</a>
<li><a class="jews"href="#">Тюнинг Changan</a>
<li><a class="jews"href="#">Тюнинг Cadilac</a>
<li><a class="jews"href="#">Тюнинг Fiat</a>
<li><a class="jews"href="#">Тюнинг Ford</a>
<li><a class="jews"href="#">Тюнинг Honda</a>
<li><a class="jews"href="#">Тюнинг Fyundai</a>
<li><a class="jews"href="#">Тюнинг Jaguar</a>
<li><a class="jews"href="#">Тюнинг KIA</a>
<li><a class="jews"href="#">Тюнинг Mazda</a>
<li><a class="jews"href="#">Тюнинг Nissan</a>
<li><a class="jews"href="#">Тюнинг Mercedes</a>

</ul>
</div>
<div><a href='javascript: Sim_Sim_Otkroysya3()'>
<div style="color:azure;background-color: #101010;font-size: 30px;" onClick="chg(this.id,'check')">Отзывы</div></a></div>
<div name=Sim_Sim3 id=Sim_Sim3 style='text-indent:12pt;display:none'>
<ul class="nigger">
<li><a class="jews" href="#">Страница 1</a>
<li><a class="jews" href="#">Страница 2</a>
<li><a class="jews" href="#">Страница 3</a>
<li><a class="jews" href="#">Страница 4</a>
<li><a class="jews"href="#">Страница 5</a>
<li><a class="jews"href="#">Страница 6</a>
</ul>
</div>
</div>
</div>

{{!-- <div class="container">  --}}
    <div class="main_products_cards"> 
{{#if products.length}}
{{#each products}}
<div class="product-item">
    <h3>{{Name}}</h3>
    <img src={{Image}}>
    <div class="product-list"> </div>
    <h5>{{Manufakturer}}</h5>
    <h5>{{Country}}</h5>
    <span class="price">{{Price}} </span>
    
    </div>
{{!-- </div> --}}
{{/each}}
{{else }}
<h2> no product</h2>
{{/if}}




<h5 style="text-align: center;">АВТОТЮНИНГ — ВОЗМОЖНОСТЬ ПОВЫСИТЬ ФУНКЦИОНАЛЬНОСТЬ И ЭСТЕТИЧЕСКУЮ ПРИВЛЕКАТЕЛЬНОСТЬ АВТО</h5>
<p class="hui"> 
    Если вы мечтаете о качественно тюнингованном авто, ищете, где в Киеве и других городах Украины заказать и купить онлайн все необходимые аксессуары для крутого тюнинга машины, сайт автомагазина DDaudio — то, что вам нужно: автоаксессуары и другие автомобильные товары нашего интернет-магазина помогут тюнинговать любой автомобиль по последнему слову моды и доступной цене. Современные производители предлагают большой ассортимент автомобильных комплектующих с улучшенными эстетическими и техническими характеристиками. Мы готовы предложить качественный светотюнинг для вашего авто, надежные кенгурятники, молдинги, обвесы, накладки и многое другое.
</p>
<h5 style="text-align: center;"> КАКИЕ АКСЕССУАРЫ СТОИТ КУПИТЬ ДЛЯ АВТОТЮНИНГА?</h5>
<p class="hui">В интернет-магазине автомобильных аксессуаров Digital Designs вы найдете большой ассортимент комплектующих, используемых в техническом тюнинге, поэтому заказ изделий от проверенных производителей позволяет придать вашему транспорту индивидуальность, ведь тюнингованные авто выгодно выделяются на дороге. При усовершенствовании легковых и грузовых автомобилей в Украине популярно использование следующих аксессуаров: </p>
<ul style="">
    <li style="">✔ насадки на глушитель; </li>
    <li style="">✔ рейлинги на крышу; </li>
    <li style="">✔ диффузоры; </li>
    <li style="">✔ решетки радиатора; </li>
    <li style="">✔ накладки на пороги; </li>
    <li style="">✔ молдинги; </li>
    <li style="">✔ колпачки для титановых дисков; </li>
    <li style="">✔ противотуманки; </li>
    <li style="">✔ кенгурятники; </li>
    <li style="">✔ рамки под номера.</li>
</ul>
<p class="hui">
    Наш автомагазин предлагает лучшие тюнинговые аксессуары для вашего автомобиля, представленные на рынке именитыми производителями, которые тщательно следят за качеством выпускаемых для авто комплектующих, большинство из которых играют не только эстетическую, но и практическую функцию. Тюнингованную машину заметно издалека, ведь она отличается внешней привлекательностью и обладает характерными чертами, отображающими предпочтения владельца и демонстрирующими его статус. Если вы планируете заняться тюнингом своего "железного коня", то вам не придется до самого закрытия ездить по городу, посещая специализированные магазины, надеясь найти подходящий к вашей машине аксессуар, который соответствовал бы вашим пожеланиям по качеству и стоимости. В каталоге DDaudio найдется всё необходимое, чтобы удовлетворить ваши "куплю", а цена на тюнинги является вполне доступной для украинских автовладельцев и находится в отличном соотношении с качеством.
</p>
<h5 style="text-align: center;">ПОЧЕМУ СТОИТ ЗАКАЗАТЬ ТЮНИНГ ДЛЯ МАШИН НА DDAUDIO.COM.UA? </h5>

<p class="hui">
    Украина — большая по площади европейская страна, жители которой следят за популярными мировыми тенденциями, поэтому тюнингованное авто встречается на украинских дорогах ничуть не реже, чем в других странах. DDaudio — интернет-магазин автотюнинга, предлагающий оригинальные товары известных брендов с доставкой не только в Киев, но и по Украине. Большой ассортимент представленных в каталоге товаров позволяет каждому автовладельцу подобрать товары, максимально соответствующие имеющимся пожеланиям и требованиям. При этом вы можете оформить заказ с максимально быстрой доставкой как по столице, так и в любой из населенных пунктов страны. Стоимость товаров в нашем магазине на протяжении многих лет остается наиболее выгодной на украинском рынке.

Для консультации с опытными менеджерами, уточнения условий и сроков доставки, а также оформления заказа на интересующие вас изделия достаточно позвонить нам по указанному на сайте ddaudio.com.ua номеру контактного телефона. Мы всегда готовы ответить на интересующие вас вопросы и помочь определиться с выбором.
</p> --

{{!-- </div> --}}

</div>

